:root {
    --dimension-btn: 8vw;
}

.btn {
    margin: 2vh 2vw;
    height: var(--dimension-btn);
    width: var(--dimension-btn);
    border-radius: 50%;
    box-shadow: black 0 0 5px;
    background: rgb(117 120 123);
}


@media (min-width: 700px) {
    :root {
        --dimension-btn: 6vw;
    }
}
@media (min-width: 1200px) {
    .btn {margin: 1vh 1vw;}
    :root {
        --dimension-btn: 5vw;
    }
}