.table {
    position: relative;
    display: flex;
    align-items: center;
    border-top: 10px solid rgb(6, 6, 104);
    border-bottom: 10px solid rgb(6, 6, 104);
    border-left: 15px solid rgb(6, 6, 104);
    border-right: 15px solid rgb(6, 6, 104);
    background-color: rgb(7, 7, 137);

}

.dialog {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);

    &>div {
        display: flex; flex-direction: column;
        align-items: center;
        justify-content: center;

        &>p {
            margin-bottom: 0.5rem;
        }
    }
}

.resetBtn {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 5vw;
    font-weight: bold;
    box-shadow: 0 0 15px red;
}
.dialogBtn {
    padding: 5px 8px; border-radius: 5px; border: solid 1px black;
}

@media (min-width: 700px) {
    .dialogBtn {
        font-size: 1vw;
    }
    .resetBtn,
    p {
        font-size: 2vw;
    }
}
