* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  background-image: url('../src/assets/images/animated-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 5vw;
  color: White;
  text-shadow: 0 0 10px blueviolet;
}